<html>
    <head>
        <title>Tampil Mahasiswa - UKM</title>
    </head>
    <body>
        <h2>DATA MAHASISWA</h2>
        <p>{{ .pesan}}</p>
        <a href="/?aksi=tambah"><button>Tambah</button></a>
        <table border="1" cellpadding="3" cellspacing="0">
            <thead>
                <tr>
                    <th>NIM</th>
                    <th>Nama</th>
                    <th>Program</th>
                    <th>Semester</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
        {{range $key, $value := Data}}
                <tr>
                    <td>{{$value.NIM}}</td>
                    <td>{{$value.Nama}}</td>
                    <td>{{$value.Progdi}}</td>
                    <td>{{$value.smt}}</td>
                    <td>
                        <a href="/?aksi=ubah&nim={{ $value.NIM}}">Ubah</a>
                        <a href="/?aksi=hapus&nim={{ $value.NIM}}">Ubah</a>
                    </td>
                </tr>
                {{end .}}
            </tbody>
        </table>
    </body>
</html>


