html, body {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box
}

#atf{
    height: 100vh;
    background-color: rgb(40, 207, 49);
    background-image: url("/stuff/alam.jpg");
    background-repeat: no-repeat ;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12rem;
    color:black;

}
header{
    position: fixed;
    background-color: rgba(176, 255, 169, 0.705);
    top: 0;
    left: 0;
    height: 5vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > div {
    font-size: 1.5rem;
    color: black;
    margin: 0.2;
}

#fta{
    height: 100vh;
    background-color: rgb(46, 32, 236);
    background-image: url("/stuff/relax.jpg");
    background-repeat: no-repeat ;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12rem;
    color:black;

}

